<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag("Instagram_icon.png", :class => 'icon') %>
      </div>
      <div class="col-md-3 col-md-offset-6">

      </div>
    </div>
  </div>
  <div class="panel-body">
    <center>
    <%= button_to "Instagram Login", {:controller => :session, :action => :connect },
                  :class => "btn btn-primary", :method => :get, :style => "margin-top:30px" %>
    </center>
  </div>
</div>
